<launch>
  <group ns="tb2">
    <arg name="model" default="burger_at"/>
    <arg name="x_pos" default="1.3"/>
    <arg name="y_pos" default="1.3"/>
    <arg name="z_pos" default="0.0"/>
    <arg name="yaw_pos" default="1.97"/>
    
    <param name="robot_description" command="$(find xacro)/xacro '$(find aue_finals)/urdf/turtlebot3_$(arg model).urdf.xacro'"/>
    
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model turtlebot3_burger_at -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -Y $(arg yaw_pos) -param robot_description"/>

    <node pkg="turtlebot3_teleop" type="turtlebot3_teleop_key" name="turtlebot3_teleop_keyboard"  output="screen"/>
  </group>
</launch>
